.*.swp
# Autotools generated
aclocal.m4
autom4te.cache/*
autoscan.log
config.h.in~
config.log
config.status
config.guess
Makefile
Makefile.in
build-aux/compile
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
config.h
config.h.in
configure
man/Makefile
man/Makefile.in
src/.deps/
src/Makefile
src/Makefile.in
stamp-h1
