#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@

HTML_DOCS := README.html HACKING.html CHANGELOG.html

%.html: %.md
	pandoc --from=markdown+smart --to=html --standalone --metadata=pagetitle="range2cidr $(basename $<)" --output=$@ $<

execute_before_dh_install: $(HTML_DOCS)
	@# Target cannot be empty, so no-op
	:


# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

execute_after_dh_clean:
	$(MAKE) distclean

override_dh_clean: clean
	dh_clean

DEBUILD_CLEAN_DIRS := debian/.debhelper/ debian/range2cidr/
DEBUILD_CLEAN_FILES := debian/debhelper-build-stamp debian/files debian/range2cidr.substvars

clean::
	rm $(HTML_DOCS) || true
	rm $(DEBUILD_CLEAN_FILES) || true
	rm -rf $(DEBUILD_CLEAN_DIRS) || true
